spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/finance_db
    username: finance_user
    password: 1234
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${server.port}
    non-secure-port: ${server.port}

jwt:
  secret: 2F423F4528482B4B6250655368566D5971337436763979244226452948404D6351
  expiration: 86400000

springdoc:
  override-with-generic-response: false
  api-docs:
    resolve-schema-properties: true

logging:
  level:
    com.aitsaid.authservice.security.JwtAuthenticationFilter: DEBUG
    org.springframework.security: TRACE
    com.aitsaid.authservice: DEBUG
    org.hibernate: DEBUG
    org.springframework.orm.jpa: DEBUG
    org.springframework.web: DEBUG