spring:
  application:
    name: auth-service
  config:
    import:
      - application-secrets.yml
  datasource:
    url: jdbc:postgresql://localhost:5432/finance_db
    username: finance_user
    password: ${db.password}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  cloud:
    config:
      enabled: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8081

jwt:
  expiration: 86400000

file:
  upload-dir: uploads/profile-images
