spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true  # Auto-discover services from Eureka
      routes:
        - id: auth-service-public
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/register,/api/auth/login
          filters:
            - StripPrefix=1

        - id: auth-service-secured
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          filters:
            - name: JwtAuthenticationFilter
            - StripPrefix=1

        - id: openapi-routes
          uri: lb://auth-service
          predicates:
            - Path=/v3/api-docs/**,/swagger-ui/**,/webjars/**,/swagger-resources/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origin-patterns: "*"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowed-headers: "*"
            exposed-headers:
              - Authorization
              - X-User-Id
              - X-User-Roles
            allow-credentials: true
            max-age: 3600

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

jwt:
  secret: 2F423F4528482B4B6250655368566D5971337436763979244226452948404D6351

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.aitsaid.gateway: DEBUG
    org.springframework.cloud.gateway: DEBUG